@{
    ViewBag.Title = "Acerca de...";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Sistema para llevar el control de diferentes productos y facilitar las ordenes de diferentes clientes lo cual ayudara  hacer de forma automatica,
    distribuir información que de otra manera requeriría dos o más informes. La lista puede contener líneas de productos 
</p>