@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    The Monkey System<br />
    Novena Calle Poniente bis, número 5275, colonia Escalón. , al lado de la Torre del Sol, El Salvador<br />
    <abbr title="Telefono">T:</abbr>
    2201-7007 / 7010
</address>

<address>
    <strong>Soporte:</strong>   <a href="mailto:Support@example.com">info@themonkeysystems.com</a><br />
    <strong>Informacion:</strong> <a href="mailto:Marketing@example.com">info@themonkeysystems.com</a>
</address>